go 1.23

use (
	.
	./examples/_logger/logrus
	./examples/_logger/zap
	./examples/_logger/zerolog
	./internal/cmd/benchmark
	./internal/cmd/faas/awslambda/mongodb
	./internal/test/goleak
	//./internal/test/compilecheck
	./internal/cmd/compilecheck
)
