go 1.25.0

use (
	.
	./examples/_logger/logrus
	./examples/_logger/zap
	./examples/_logger/zerolog
	./internal/cmd/benchmark
	./internal/cmd/faas/awslambda/mongodb
	./internal/test/compilecheck
	./internal/test/goleak
	./modules/mongoaws
)
