[project]
	description = Official MongoDB Go Driver
[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group mongo-go-driver
	owner = group user/Kris Brandow (skriptble)
[access "refs/for/refs/*"]
	read = group mongo-go-driver
	read = group user/Kris Brandow (skriptble)
	push = group mongo-go-driver
	push = group user/Kris Brandow (skriptble)
	label-Code-Review = -1..+2 group mongo-go-driver
	label-Code-Review = -1..+2 group user/Kris Brandow (skriptble)
	label-Verified = -1..+1 group mongo-go-driver
	label-Verified = -1..+1 group user/Kris Brandow (skriptble)
	rebase = group mongo-go-driver
	rebase = group user/Kris Brandow (skriptble)
	removeReviewer = group mongo-go-driver
	removeReviewer = group user/Kris Brandow (skriptble)
	submit = group mongo-go-driver
	submit = group user/Kris Brandow (skriptble)
[access "refs/heads/*"]
	read = group mongo-go-driver
	read = group user/Kris Brandow (skriptble)
	create = group mongo-go-driver
	create = group user/Kris Brandow (skriptble)
	push = group mongo-go-driver
	push = +force group user/Kris Brandow (skriptble)
	pushMerge = group mongo-go-driver
	pushMerge = group user/Kris Brandow (skriptble)
[access "refs/tags/*"]
	push = group mongo-go-driver
	push = group user/Kris Brandow (skriptble)
	push = +force group user/Kris Brandow (skriptble)
[submit]
	action = rebase if necessary
[label "Code-Review"]
	value = -1 I'm not sure I like this
	value =  0 No score
	value = +1 I like, but need another to like it as well
	value = +2 Hmm, this is pretty nice
	function = MaxWithBlock
	defaultValue = 0
