[project]
	description = The Go driver for MongoDB
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group mongo-go-driver
	owner = group user/Kris Brandow (skriptble)
[access "refs/for/refs/*"]
	read = group mongo-go-driver
	read = group user/Kris Brandow (skriptble)
	push = group mongo-go-driver
	push = group user/Kris Brandow (skriptble)
	label-Code-Review = -2..+2 group mongo-go-driver
	label-Code-Review = -2..+2 group user/Kris Brandow (skriptble)
	label-Verified = -1..+1 group mongo-go-driver
	label-Verified = -1..+1 group user/Kris Brandow (skriptble)
	rebase = group mongo-go-driver
	rebase = group user/Kris Brandow (skriptble)
	removeReviewer = group mongo-go-driver
	removeReviewer = group user/Kris Brandow (skriptble)
	submit = group mongo-go-driver
	submit = group user/Kris Brandow (skriptble)
[access "refs/heads/*"]
	read = group mongo-go-driver
	read = group user/Kris Brandow (skriptble)
	create = group mongo-go-driver
	create = group user/Kris Brandow (skriptble)
	push = group mongo-go-driver
	push = +force group user/Kris Brandow (skriptble)
	pushMerge = group mongo-go-driver
	pushMerge = group user/Kris Brandow (skriptble)
[access "refs/tags/*"]
	push = group mongo-go-driver
	push = group user/Kris Brandow (skriptble)
	push = +force group user/Kris Brandow (skriptble)
