name: Label Checker
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled
      - unlabeled
permissions:
  pull-requests: read
jobs:
  check_labels:
    name: Check labels
    runs-on: ubuntu-latest
    steps:
      - uses: docker://agilepathway/pull-request-label-checker:latest@sha256:65e57fd98ba3ab6ca4fcbc5a0aef288dd984ee4ab988f124d83424d19b55b801
        with:
          one_of: bug,feature,enhancement,documentation,dependencies,ignore-for-release,ci/cd
          repo_token: ${{ secrets.GITHUB_TOKEN }}
