name: Merge up
on:
  push:
    branches:
      - release/*.*
      - v*
permissions:
  contents: read
jobs:
  merge-up:
    name: Create merge up pull request
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      pull-requests: write
    steps:
      - uses: mongodb-labs/drivers-github-tools/secure-checkout@fac300d2aa6fe2ddd6316aa673df485941b882f0 #v3
        with:
          app_id: ${{ vars.PR_APP_ID }}
          private_key: ${{ secrets.PR_APP_PRIVATE_KEY }}
          # Make sure to include fetch-depth 0 so all branches are fetched, not
          # just the current one
          fetch-depth: 0
      - name: Create pull request
        id: create-pull-request
        uses: alcaeus/automatic-merge-up-action@e23e7c71d58f12531cbaba73473bbe78fd14baf0 #v1.0.1
        with:
          ref: ${{ github.ref_name }}
          branchNamePattern: "release/<major>.<minor>"
          devBranchNamePattern: "v<major>"
          fallbackBranch: "master"
          ignoredBranches: ${{ vars.IGNORED_MERGE_UP_BRANCHES }}
          enableAutoMerge: true
